h2 {
  margin-left: 10%;
}

.personal-info {
  padding: 10px 100px 10px 100px;
  margin-left: 10%;
  width: 80%;
  background: rgba(246, 140, 140, 0.6);
}
.heading-container {
  margin-top: 50px;
  text-align: center;
}
.education {
  margin-top: 5px;
  background-color: rgba(122, 220, 250, 0.6);
}
.btn-container {
  width: 100px;
  display: flex;
  flex-direction: row;
}
.edu-btn {
  margin: -10px 10px;
}
.education-section {
  margin: 30px 100px 50px 100px;
}
.education-section > h5 {
  text-decoration: underline;
}
.education-form {
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  justify-content: space-between;
}
.header-container {
  font-style: italic;
}
.container-right {
  margin-top: 5px;
}
